
<h1>Me page</h1>
 <h2>HELLO <%= name %> </h2>
 <h3>Sign up for the newsletter</h3>
 <form  method="POST" action="/about">
   <div>
     <label> Email:</label>
     <input name="email" type="email" placeholder="Your Email">
   </div>
   <input type="submit"  value="Spam Me!">
 </form>
